<a href="https://colab.research.google.com/github/StefaniaMontoyaB/Lenguajes_de_Programacion/blob/main/Concurso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# Importamos la libreria Pandas
import pandas as pd

In [5]:
# Cargamos el archivo CSV en un DataFrame
df = pd.read_csv('/content/BD2025_01.csv', sep=';')

# Mostrar las primeras filas del DataFrame
df.head()

,Date,PFBCOLO,BCOLO,ECOPETL,ISA,GEB,CEMARGOS,GRUPOARG,PFGRUPSU,PFGRUPOA,...,CORFICOL,GRUPOBOL,PROMIG,BOGOTA,MINEROS,TERPEL,PFCORCOL,CNEC,ETB,COLCAP
0,29/01/2010,21760,22200,2455,12680,1198,"6495,366",19980,NaN,NaN,...,"10950,195",40000,"4292,245","31473,509",5500,NaN,"11264,812",NaN,1140,"1363,67"
1,26/02/2010,22220,22300,2560,12880,1234,"6506,432",19300,NaN,NaN,...,"12686,79",40000,"4172,684","34898,567",5550,NaN,"12330,403",NaN,1005,"1391,02"
2,31/03/2010,22280,22280,2700,12800,1250,"6628,151",19800,NaN,NaN,...,"13800,06",42500,"4182,249","34528,29",5720,NaN,"13540,856",NaN,1040,"1440,58"
3,30/04/2010,23000,23020,2765,12980,1290,"6373,647",19400,NaN,NaN,...,"14906,857",40600,"4208,552","36842,519",5720,NaN,"14579,233",NaN,1155,"1467,26"
4,31/05/2010,23500,23500,2700,12720,"1275,4","6218,732",19200,NaN,NaN,...,"14468,126",41420,"4184,64","35916,827",5700,NaN,"14159,686",NaN,1075,"1444,54"

In [6]:
df.dtypes

Date          object
PFBCOLO        int64
BCOLO          int64
ECOPETL        int64
ISA            int64
GEB           object
CEMARGOS      object
GRUPOARG       int64
PFGRUPSU     float64
PFGRUPOA     float64
PEI          float64
PFAVAL        object
GRUPOSUR       int64
PFDAVVND     float64
CELSIA        object
CORFICOL      object
GRUPOBOL       int64
PROMIG        object
BOGOTA        object
MINEROS        int64
TERPEL       float64
PFCORCOL      object
CNEC         float64
ETB           object
COLCAP        object
dtype: object

In [17]:
# Calcular cantidad de nulos y porcentajes
resumen_nulos = pd.DataFrame({"Nulos": df.isnull().sum(),
                              "Porcentaje": df.isnull().mean()*100})

# Filtrar solo las columnas que tienen al menos un valor nulo
resumen_nulos = resumen_nulos[resumen_nulos["Nulos"]>0]

#Ordenar de mayor a menor la cantidad de nulos
resumen_nulos = resumen_nulos.sort_values(by="Nulos",ascending=False)

print(resumen_nulos)

           Nulos  Porcentaje
PEI          151   82.967033
TERPEL        55   30.219780
PFGRUPOA      29   15.934066
PFGRUPSU      23   12.637363
PFAVAL        16    8.791209
PFDAVVND       9    4.945055
CNEC           6    3.296703